main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* Classes */

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

/* Navbar */
.navbar-custom {
    border: 10px;
    padding: 0;
    box-shadow: 0 0 10px rgba(243, 3, 3, 0.5);
    background-color: #e96157 !important;
}

.navbar-dark .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif !important;
    }

/* Navbar END */

.custom-window {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container-channel {
    grid-template-columns: auto;
    grid-template-rows: 20rem 100px;
}

/* ID */

#message-box{
    align-self: center;
}

#message-box {
    margin: 30px 20px 10px 30px;
}

#chat {
    padding: 20px;
}